.Layout{
    transform: translateY(-100px);
   position: relative;
}
.Layout .intro-text{
    text-align: center;
    margin-top: 20px;
}
.Layout .intro-text p{
    margin: 10px 0;
}
.btn-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}
.Layout .img-icon{
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width:500px){
    .btn-group{
        justify-content: center;
    }
    .btn-group button{
        margin: 0 10px;
    }
}