.Layout{
    transform: translateY(-100px);
   
}
.Layout .intro-text{
    text-align: center;
}
.Layout .intro-text p{
    margin: 10px 0;
}
.btn-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}
@media screen and (max-width:500px){
    .btn-group{
        justify-content: center;
    }
    .btn-group button{
        margin: 0 10px;
    }
}