.Modal{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-30%);
    z-index: 5;
}
.Modal-card_group{
    margin: 20px 0;
}

.Modal-top{
position: relative;
}

.Modal-top div{
    position: absolute;
    top: -20px;
    right: 0;
    font-weight: bold;
    cursor: pointer;
}


.close-modal{
    cursor: pointer;
    display: none;
}
