.Stats{
    transform: translateY(-70px);
      
}
.Stats h3{
    font-size: 25px;
}
.Stats p{
    font-size: 14px;
}
.Stats li{
    border-right: 1px solid hsla(0, 0%, 48%, 0.354);
    display: inline-block;
    margin-right: 30px;
    padding-right: 50px;
}
.Stats li:nth-child(3){
    border: none;
}
.mr-3{
    margin-right: 20px !important;
    padding-right: 30px !important;
}